*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: rgb(34, 18, 57);
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 1% 20%;
    align-items: center;
    ion-icon{
        font-size: 25px;
        color: gray;
    }
    h3{
        margin-left: -25%;
        font-weight: 100;
        font-size: 15px;
        line-height: 31px;
        color: #3A68B8;
        &:hover{
            cursor: pointer;
            text-decoration: underline;
        }
    }
    
    ul{
        display: flex;
        list-style: none;
        margin-left: -12%;
        li{
            margin: 0 5%;
            color: white;
            &:hover{
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }
    button{
        background: #3A68B8;
        border-radius: 5px;
        padding: 1% 3%;
        color: white;
        border: none;
        &:hover{
            cursor: pointer;
            text-decoration: underline;
        }
    }
}
#qator1{
    display: flex;
    margin: 1% 0 1% 20%;
    #chap{
        h3{
            font-weight: 600;
            font-size: 18px;
            text-transform: uppercase;
            color: #3A68B8;
            margin-top: 17%;
        }
        h1{
            font-weight: 800;
            font-size: 35px;
            color: #FFFFFF;
            margin-top: 3%;
        }
        p{
            font-size: 18px;
            color: #FFFFFF;
            opacity: 0.7;
            margin-top: 7%;
            line-height: 150%;
        }
        #btn1{
            padding: 2% 7%;
            background: #3A68B8;
            border-radius: 5px;
            color: white;
            border: none;
            font-size: 15px;
        }
        #btn2{
            padding: 2% 7%;
            background: #3A68B8;
            border-radius: 5px;
            color: white;
            border: none;
            font-size: 15px;
            margin-left: 2%;
            ion-icon{
                height: 12px;
            }
        }
    }
    #ong{
        img{
            margin-left: 10%;
            width: 80%;
        }
    }
}
#qator1_past{
    margin: 1% 17% 5% 20%;
    ul{
        list-style: none;
        justify-content: space-between;
        display: flex;
        img{
            width: 85%;
        }
    }
    
}
#qator2{
    display: flex;
    margin: 5% 20% 5% 10%;
    #chap{
        img{
            width: 90%;
        }
    }
    #ong{
        h1{
            color: white;
            font-size: 180%;
            margin-top: 50%;
        }
        p{
            color: white;
            margin-top: 7%;
            font-size: 78%;
            line-height: 160%;
        }
        button{
            padding: 2.5% 6%;
            margin-top: 12%;
            color: white;
            background-color: #3A68B8;
            border: none;
            border-radius: 5px;
            
        }
    }

}
#qator2_past{
    display: flex;
    width: 100%;
    img{
        width: 18.6%;
        margin: 10px;
    }
}
#qator3{
    margin: 10% 20%;
    display: flex;
    color: #FFFFFF;
    h1{
        font-size: 210%;
        margin-top: 7%;
    }
    p{
        font-size: 85%;
        margin: 7% 0;
        opacity: 0.7;
        font-weight: 100;
    }
    #ong{
        img{
            width: 37%;
            position: absolute;
            left: 45%;
        }
    }
}
#footer{
    img{
        width: 100%;
    }
}